<a href="https://colab.research.google.com/github/JJader/api-frontend/blob/feat%2Fcreate-celery-routes/notebook/desafio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Configurando o ambiente

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
!pip install -U pandas==1.5.3 &> /dev/null
!pip install -q findspark pyspark "mlflow==2.15.1" &> /dev/null

In [4]:
import os
import findspark

In [5]:
# instalar as dependências do spark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# !wget  https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
!tar xf /content/drive/MyDrive/Colab\ Notebooks/spark-3.1.2-bin-hadoop2.7.tgz

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"
findspark.init()

In [6]:
!wget https://github.com/PicPay/case-machine-learning-engineer-pleno/raw/main/notebook/airports-database.zip
!unzip airports-database.zip -d airports-database

--2024-08-25 23:09:40--  https://github.com/PicPay/case-machine-learning-engineer-pleno/raw/main/notebook/airports-database.zip
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/PicPay/case-machine-learning-engineer-pleno/main/notebook/airports-database.zip [following]
--2024-08-25 23:09:40--  https://raw.githubusercontent.com/PicPay/case-machine-learning-engineer-pleno/main/notebook/airports-database.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10463368 (10.0M) [application/zip]
Saving to: ‘airports-database.zip’

airports-database.z 100%[===================>]   9.98M  --.-KB/s    in 0.1s

2024-08-25 23:09:41 (86.3 MB/s) - ‘airports-database.zip’ saved [10463368/10463368]

Archive:  airports-database.zip
  inflating: airports-database/airports-database.csv
  inflating: airports-database/__MACOSX/._airports-database.csv

# Sessão

In [7]:
# iniciar uma sessão local
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg, max, count, date_format, stddev, expr, first, to_date

#sc = SparkSession.builder.master('local[*]').getOrCreate()
spark = SparkSession.builder.appName("Introducao").getOrCreate()
spark

In [8]:
df = spark.read.csv("/content/airports-database/airports-database.csv", header=True)
df = df.withColumn("date", to_date(col("time_hour"), "yyyy-MM-dd HH:mm:ss"))
df = df.withColumn("day_of_week_name", date_format(col("date"), "EEEE"))

## Perguntas

### 1. Qual é o número total de voos no conjunto de dados?

In [9]:
total_voos = df.count()
print(f"Número de voos total é {total_voos}")

Número de voos total é 336776

### 2. Quantos voos foram cancelados? (Considerando que voos cancelados têm dep_time e arr_time nulos)

In [10]:
num_empty_rows = df.filter(col("dep_time").isNull() & col("arr_time").isNull()).count()
print(f"Número de voos cancelados {num_empty_rows}")

Número de voos cancelados 8255

### 3. Qual é o atraso médio na partida dos voos (dep_delay)?

In [11]:
average = df.agg(avg(col("dep_delay")).alias("average")).collect()[0]["average"]
print(f"Media atraso médio {average:.2f}")

Media atraso médio 12.64

### 4. Quais são os 5 aeroportos com maior número de pousos?

In [12]:
dest_count_df = df.groupBy("dest").agg(count("*").alias("count"))
result = dest_count_df.sort(col("count").desc()).limit(5)

print(f"5 Aeroportos com maior numero de pouso")
result.show()

5 Aeroportos com maior numero de pouso
+----+-----+
|dest|count|
+----+-----+
| ORD|17283|
| ATL|17215|
| LAX|16174|
| BOS|15508|
| MCO|14082|
+----+-----+

### 5. Qual é a rota mais frequente (par origin-dest)?

In [13]:
dest_count_df = df.groupBy("origin","dest").agg(count("*").alias("count"))
result = dest_count_df.sort(col("count").desc()).limit(1)

print(f"rota acom maior frequencia")
result.show()

rota acom maior frequencia
+------+----+-----+
|origin|dest|count|
+------+----+-----+
|   JFK| LAX|11262|
+------+----+-----+

### 6. Quais são as 5 companhias aéreas com maior tempo médio de atraso na chegada?(Exiba também o tempo)

In [14]:
average = df.groupBy("name", "carrier").agg(avg(col("arr_delay")).alias("average"))
average.sort(col("average").desc()).limit(5).show()

+--------------------+-------+------------------+
|                name|carrier|           average|
+--------------------+-------+------------------+
|Frontier Airlines...|     F9|21.920704845814978|
|AirTran Airways C...|     FL|20.115905511811025|
|ExpressJet Airlin...|     EV| 15.79643108710965|
|  Mesa Airlines Inc.|     YV|15.556985294117647|
|SkyWest Airlines ...|     OO|11.931034482758621|
+--------------------+-------+------------------+

### 7. Qual é o dia da semana com maior número de voos?

In [15]:
result = df.groupBy("day_of_week_name").agg(count("*").alias("count"))
result = result.sort(col("count").desc()).limit(1)

In [16]:
print(f"Dia da semana com maior numero de voos")
result.show()

Dia da semana com maior numero de voos
+----------------+-----+
|day_of_week_name|count|
+----------------+-----+
|          Monday|50690|
+----------------+-----+

### 8. Qual o percentual mensal dos voos tiveram atraso na partida superior a 30 minutos?

In [17]:
voos_total = df.count()
voos_total_atrasados_30 = df.filter(df.dep_delay > 30).count()
porcentagem = voos_total_atrasados_30/voos_total*100

print(f"Porcentagem de voos atrasados mais que 30m na partida {porcentagem:.2f}\%")

Porcentagem de voos atrasados mais que 30m na partida 14.34\%

### 9. Qual a origem mais comum para voos que pousaram em Seattle (SEA)?

In [18]:
seattle_df = df.filter(df.dest == "SEA")
result = seattle_df.groupBy("origin", "dest").agg(count("*").alias("count"))

result = result.sort(col("count").desc()).limit(1)
result_value = result.select("origin").rdd.flatMap(list).collect()[0]

In [19]:
print(f"Origem que mais pousa em seattle é {result_value}")

Origem que mais pousa em seattle é JFK

###  10. Qual é a média de atraso na partida dos voos (dep_delay) para cada dia da semana?

In [20]:
result = df.groupBy("day_of_week_name").agg(avg(col("dep_delay")).alias("average"))
result.show()

+----------------+------------------+
|day_of_week_name|           average|
+----------------+------------------+
|       Wednesday|11.803512219083876|
|         Tuesday|10.631682565455652|
|          Friday| 14.69605749486653|
|        Thursday|16.148919990957108|
|        Saturday| 7.650502333676133|
|          Monday|14.778936729330908|
|          Sunday|11.589531801152422|
+----------------+------------------+

###  11. Qual é a rota que teve o maior tempo de voo médio (air_time)?

In [21]:
result = df.sort(col("air_time").desc()).limit(1)
result.select("origin", "dest", "air_time").show()

+------+----+--------+
|origin|dest|air_time|
+------+----+--------+
|   LGA| CLT|    99.0|
+------+----+--------+

### 12. Para cada aeroporto de origem, qual é o aeroporto de destino mais comum?

In [22]:
group_origin_dest_df = df.groupBy("origin", "dest").agg(count("*").alias("total_count"))
df_max_count = group_origin_dest_df.groupBy("origin").agg(max("total_count").alias("max_count"))

In [23]:
df_result = group_origin_dest_df.join(
    df_max_count,
    (group_origin_dest_df.origin == df_max_count.origin) &
    (group_origin_dest_df.total_count == df_max_count.max_count)
)

In [24]:
df_result.show()

+------+----+-----------+------+---------+
|origin|dest|total_count|origin|max_count|
+------+----+-----------+------+---------+
|   EWR| ORD|       6100|   EWR|     6100|
|   JFK| LAX|      11262|   JFK|    11262|
|   LGA| ATL|      10263|   LGA|    10263|
+------+----+-----------+------+---------+

###  13. Quais são as 3 rotas que tiveram a maior variação no tempo médio de voo (air_time) ?

In [25]:
result = df.groupBy("origin", "dest").agg(stddev(col("air_time")).alias("std"))
result = result.sort(col("std").desc()).limit(3)
result.show()

+------+----+------------------+
|origin|dest|               std|
+------+----+------------------+
|   LGA| MYR| 25.32455988429677|
|   EWR| HNL| 21.26613546847427|
|   JFK| HNL|20.688824842787056|
+------+----+------------------+

### 14. Qual é a média de atraso na chegada para voos que tiveram atraso na partida superior a 1 hora?

In [26]:
voos_atrasados_df = df.filter(df.dep_delay > 60)
result = voos_atrasados_df.agg(avg(col("arr_delay")).alias("average"))
result.show()

+------------------+
|           average|
+------------------+
|119.04880549963919|
+------------------+

### 15. Qual é a média de voos diários para cada mês do ano?

In [27]:
number_of_day_df = df.withColumn("number_of_day", expr("day(last_day(date))"))

In [35]:
group_by_month_df = number_of_day_df \
                    .groupBy("month") \
                    .agg(
                        (count("*")/first("number_of_day")) \
                        .alias("average")
                    )

group_by_month_df.show()

+-----+-----------------+
|month|          average|
+-----+-----------------+
|    7|949.1935483870968|
|   11|908.9333333333333|
|    3|930.1290322580645|
|    8|946.0322580645161|
|    5|928.9032258064516|
|    6|941.4333333333333|
|    9|919.1333333333333|
|    1|871.0967741935484|
|   10|931.9032258064516|
|    4|944.3333333333334|
|   12|907.5806451612904|
|    2|891.1071428571429|
+-----+-----------------+

### 16. Quais são as 3 rotas mais comuns que tiveram atrasos na chegada superiores a 30 minutos?

In [29]:
voos_atrasados_df = df.filter(df.arr_delay > 30)
result = voos_atrasados_df.groupBy("origin", "dest").agg(count("*").alias("count"))
result = result.sort(col("count").desc()).limit(3)
result.show()

+------+----+-----+
|origin|dest|count|
+------+----+-----+
|   LGA| ATL| 1563|
|   JFK| LAX| 1286|
|   LGA| ORD| 1188|
+------+----+-----+

### 17. Para cada origem, qual o principal destino?

In [30]:
group_origin_dest_df = df.groupBy("origin", "dest").agg(count("*").alias("total_count"))
df_max_count = group_origin_dest_df.groupBy("origin").agg(max("total_count").alias("max_count"))

In [31]:
df_result = group_origin_dest_df.join(
    df_max_count,
    (group_origin_dest_df.origin == df_max_count.origin) &
    (group_origin_dest_df.total_count == df_max_count.max_count)
)

In [32]:
df_result.show()

+------+----+-----------+------+---------+
|origin|dest|total_count|origin|max_count|
+------+----+-----------+------+---------+
|   EWR| ORD|       6100|   EWR|     6100|
|   JFK| LAX|      11262|   JFK|    11262|
|   LGA| ATL|      10263|   LGA|    10263|
+------+----+-----------+------+---------+

## Enriquecimento

In [34]:
from pyspark.sql.types import ArrayType, StructType, StructField, StringType, IntegerType
from pyspark.sql.functions import udf, explode, lit, date_add, to_date
import requests

### AirportDB API:

In [ ]:
schema = StructType([
    StructField("latitude_deg", StringType(), True),
    StructField("longitude_deg", StringType(), True),
])

@udf(returnType=schema)
def fetch_data(airport_code: str):
    airportdb_key = "ae7555efbe721faff667b69c9031a059619294bbdec5489a16c65b5196dff4d4dfd7e1f58bb76e07a22128297ac96e1d"
    url = f"https://airportdb.io/api/v1/airport/K{airport_code}?apiToken={airportdb_key}"

    response = requests.get(url)
    result_json = response.json()
    latitude_deg = result_json.get("latitude_deg")
    longitude_deg = result_json.get("longitude_deg")
    return latitude_deg,longitude_deg

In [ ]:
origin_df = df.select("origin").withColumnRenamed("origin", "airport")
dest_df = df.select("dest").withColumnRenamed("dest", "airport")

combined_df = origin_df.union(dest_df).distinct()
combined_list = (
     combined_df
    .rdd.map(lambda row : row[0])
    .collect()
)

In [ ]:
response_df = combined_df.withColumn("response", fetch_data("airport"))
airport_location_df = response_df.select(*combined_df.columns,"response.*")

In [ ]:
airport_location_df.write \
    .format("csv") \
    .option("header", "true") \
    .mode("overwrite") \
    .save("/content/drive/MyDrive/picpay/airport.csv")

### Weatherbit API:

In [35]:
@udf(StringType())
def fetch_weatherbit_api(latitude: str, longitude: str, start_date, end_date ):
    url = "https://api.weatherbit.io/v2.0/history/daily"
    weatherbit_key = "eb4a4aab29b34faaafed11834d3620f3"

    params = {
      'lat': latitude,
      'lon': longitude,
      'start_date': start_date.strftime('%Y-%m-%d'),
      'end_date': end_date.strftime('%Y-%m-%d'),
      'key': weatherbit_key,
    }
    headers = {
      'Accept': 'application/json',
    }
    response = requests.get(url, params=params, headers=headers)
    data = response.json()
    return data.get("wind_spd")

In [36]:
airport_location_df = spark.read.csv("/content/drive/MyDrive/picpay/airport.csv", header=True)

In [37]:
df_result = group_origin_dest_df.join(
    df_max_count,
    (group_origin_dest_df.origin == df_max_count.origin) &
    (group_origin_dest_df.total_count == df_max_count.max_count)
)

In [38]:
df_with_origin_coords = df.join(
    airport_location_df,
    airport_location_df.airport == df.origin,
).select(
    *df.columns,
    col('latitude_deg').alias('origin_latitude'),
    col('longitude_deg').alias('origin_longitude')
)

In [39]:
df_with_coords = df_with_origin_coords.join(
    airport_location_df,
    airport_location_df.airport == df_with_origin_coords.dest,
).select(
    *df_with_origin_coords.columns,
    col('latitude_deg').alias('dest_latitude'),
    col('longitude_deg').alias('dest_longitude')
)

df_with_coords.show()

+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+--------------------+---------------+----------------+------------------+------------------+
| id|year|month|day|dep_time|sched_dep_time|dep_delay|arr_time|sched_arr_time|arr_delay|carrier|flight|tailnum|origin|dest|air_time|distance|hour|minute|          time_hour|                name|origin_latitude|origin_longitude|     dest_latitude|    dest_longitude|
+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+--------------------+---------------+----------------+------------------+------------------+
|  0|2013|    1|  1|   517.0|           515|      2.0|   830.0|           819|     11.0|     UA|  1545| N14228|   EWR| IAH|   227.0|    1400|   5|    15|2013-01-01 05:00:00|United Air Lines ...|      40.692501|      -74.168701|29.984399795532227|-95.34140014648438|
|  1|2013|    1|  1|   533.0|           529|      4.0|   850.0|           830|     20.0|     UA|  1714| N24211|   LGA| IAH|   227.0|    1416|   5|    29|2013-01-01 05:00:00|United Air Lines ...|      40.777199|      -73.872597|29.984399795532227|-95.34140014648438|
|  2|2013|    1|  1|   542.0|           540|      2.0|   923.0|           850|     33.0|     AA|  1141| N619AA|   JFK| MIA|   160.0|    1089|   5|    40|2013-01-01 05:00:00|American Airlines...|      40.639801|        -73.7789| 25.79319953918457|-80.29060363769531|
|  3|2013|    1|  1|   544.0|           545|     -1.0|  1004.0|          1022|    -18.0|     B6|   725| N804JB|   JFK| BQN|   183.0|    1576|   5|    45|2013-01-01 05:00:00|     JetBlue Airways|      40.639801|        -73.7789|              null|              null|
|  4|2013|    1|  1|   554.0|           600|     -6.0|   812.0|           837|    -25.0|     DL|   461| N668DN|   LGA| ATL|   116.0|     762|   6|     0|2013-01-01 06:00:00|Delta Air Lines Inc.|      40.777199|      -73.872597|           33.6367|        -84.428101|
|  5|2013|    1|  1|   554.0|           558|     -4.0|   740.0|           728|     12.0|     UA|  1696| N39463|   EWR| ORD|   150.0|     719|   5|    58|2013-01-01 05:00:00|United Air Lines ...|      40.692501|      -74.168701|           41.9786|          -87.9048|
|  6|2013|    1|  1|   555.0|           600|     -5.0|   913.0|           854|     19.0|     B6|   507| N516JB|   EWR| FLL|   158.0|    1065|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|      40.692501|      -74.168701|         26.072599|        -80.152702|
|  7|2013|    1|  1|   557.0|           600|     -3.0|   709.0|           723|    -14.0|     EV|  5708| N829AS|   LGA| IAD|    53.0|     229|   6|     0|2013-01-01 06:00:00|ExpressJet Airlin...|      40.777199|      -73.872597|           38.9445|        -77.455803|
|  8|2013|    1|  1|   557.0|           600|     -3.0|   838.0|           846|     -8.0|     B6|    79| N593JB|   JFK| MCO|   140.0|     944|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|      40.639801|        -73.7789|28.429399490356445|-81.30899810791016|
|  9|2013|    1|  1|   558.0|           600|     -2.0|   753.0|           745|      8.0|     AA|   301| N3ALAA|   LGA| ORD|   138.0|     733|   6|     0|2013-01-01 06:00:00|American Airlines...|      40.777199|      -73.872597|           41.9786|          -87.9048|
| 10|2013|    1|  1|   558.0|           600|     -2.0|   849.0|           851|     -2.0|     B6|    49| N793JB|   JFK| PBI|   149.0|    1028|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|      40.639801|        -73.7789| 26.68320083618164|-80.09559631347656|
| 11|2013|    1|  1|   558.0|           600|     -2.0|   853.0|           856|     -3.0|     B6|    71| N657JB|   JFK| TPA|   158.0|    1005|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|      40.639801|        -73.7789|27.975500106811523|     -82.533203125|
| 12|2013|    1|  1|   558.0|           600|     -2.0|   924.0|           917|      7.0|     UA|   194| N29129|   JFK| LAX|   345.0|    2475|   6|     0|2013-01-01 06:00:00|United Air Lines ...|      40.639801|        -73.7789|         33.942501|       -118.407997|
| 13|2013|    1|  1|   558.0|           600|     -2.0|   923.0|           937|    -14.0|     UA|  1124| N53441|   EWR| SFO|   361.0|    2565|   6|     0|2013-01-01 06:00:00|United Air Lines ...|      40.692501|      -74.168701| 37.61899948120117|          -122.375|
| 14|2013|    1|  1|   559.0|           600|     -1.0|   941.0|           910|     31.0|     AA|   707| N3DUAA|   LGA| DFW|   257.0|    1389|   6|     0|2013-01-01 06:00:00|American Airlines...|      40.777199|      -73.872597|         32.896801|        -97.038002|
| 15|2013|    1|  1|   559.0|           559|      0.0|   702.0|           706|     -4.0|     B6|  1806| N708JB|   JFK| BOS|    44.0|     187|   5|    59|2013-01-01 05:00:00|     JetBlue Airways|      40.639801|        -73.7789|           42.3643|        -71.005203|
| 16|2013|    1|  1|   559.0|           600|     -1.0|   854.0|           902|     -8.0|     UA|  1187| N76515|   EWR| LAS|   337.0|    2227|   6|     0|2013-01-01 06:00:00|United Air Lines ...|      40.692501|      -74.168701|       36.08010101|      -115.1520004|
| 17|2013|    1|  1|   600.0|           600|      0.0|   851.0|           858|     -7.0|     B6|   371| N595JB|   LGA| FLL|   152.0|    1076|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|      40.777199|      -73.872597|         26.072599|        -80.152702|
| 18|2013|    1|  1|   600.0|           600|      0.0|   837.0|           825|     12.0|     MQ|  4650| N542MQ|   LGA| ATL|   134.0|     762|   6|     0|2013-01-01 06:00:00|           Envoy Air|      40.777199|      -73.872597|           33.6367|        -84.428101|
| 19|2013|    1|  1|   601.0|           600|      1.0|   844.0|           850|     -6.0|     B6|   343| N644JB|   EWR| PBI|   147.0|    1023|   6|     0|2013-01-01 06:00:00|     JetBlue Airways|      40.692501|      -74.168701| 26.68320083618164|-80.09559631347656|
+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+--------------------+---------------+----------------+------------------+------------------+
only showing top 20 rows

In [40]:
df_with_coords_date = df_with_coords.withColumn("date", to_date(col("time_hour"), "yyyy-MM-dd HH:mm:ss"))
df_with_coords_date = df_with_coords_date.withColumn("next_day", date_add("date", 1))

limit_df = df_with_coords_date.sort(col("arr_delay").desc()).limit(5)

In [45]:
df_with_coords_date.write \
    .format("csv") \
    .option("header", "true") \
    .mode("overwrite") \
    .save("/content/drive/MyDrive/picpay/df_with_date_coords.csv")

In [41]:
response_origin_df = limit_df.withColumn(
    "origin_wind_spd",
    fetch_weatherbit_api("origin_latitude", "origin_longitude", "date", "next_day" )
)

response_df = response_origin_df.withColumn(
    "dest_wind_spd",
    fetch_weatherbit_api("dest_latitude", "dest_longitude", "date", "next_day" )
)

In [42]:
response_df.show()

+-----+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+--------------------+---------------+----------------+-------------+--------------+----------+----------+---------------+-------------+
|   id|year|month|day|dep_time|sched_dep_time|dep_delay|arr_time|sched_arr_time|arr_delay|carrier|flight|tailnum|origin|dest|air_time|distance|hour|minute|          time_hour|                name|origin_latitude|origin_longitude|dest_latitude|dest_longitude|      date|  next_day|origin_wind_spd|dest_wind_spd|
+-----+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+--------------------+---------------+----------------+-------------+--------------+----------+----------+---------------+-------------+
| 6651|2013|    1|  8|  1550.0|          1420|     90.0|  1759.0|          1620|     99.0|     MQ|  4588| N507MQ|   LGA| MSP|   157.0|    1020|  14|    20|2013-01-08 14:00:00|           Envoy Air|      40.777199|      -73.872597|       44.882|    -93.221802|2013-01-08|2013-01-09|           null|         null|
|13925|2013|    1| 16|  2152.0|          2015|     97.0|  2349.0|          2210|     99.0|     MQ|  4555| N846MQ|   LGA| CMH|    94.0|     479|  20|    15|2013-01-16 20:00:00|           Envoy Air|      40.777199|      -73.872597|    39.998001|    -82.891899|2013-01-16|2013-01-17|           null|         null|
|11082|2013|    1| 13|  1827.0|          1708|     79.0|  2202.0|          2023|     99.0|     B6|    15| N203JB|   JFK| FLL|   146.0|    1069|  17|     8|2013-01-13 17:00:00|     JetBlue Airways|      40.639801|        -73.7789|    26.072599|    -80.152702|2013-01-13|2013-01-14|           null|         null|
| 1559|2013|    1|  2|  1804.0|          1639|     85.0|  2050.0|          1911|     99.0|     EV|  4705| N14558|   EWR| ATL|   137.0|     746|  16|    39|2013-01-02 16:00:00|ExpressJet Airlin...|      40.692501|      -74.168701|      33.6367|    -84.428101|2013-01-02|2013-01-03|           null|         null|
|11176|2013|    1| 13|  2022.0|          1905|     77.0|  2202.0|          2023|     99.0|     EV|  5714| N827AS|   JFK| IAD|    44.0|     228|  19|     5|2013-01-13 19:00:00|ExpressJet Airlin...|      40.639801|        -73.7789|      38.9445|    -77.455803|2013-01-13|2013-01-14|           null|         null|
+-----+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+--------------------+---------------+----------------+-------------+--------------+----------+----------+---------------+-------------+

In [491]:
weatherbit_key = "eb4a4aab29b34faaafed11834d3620f3"
latitude = 40.7128
longitude = -74.0060
start_date = '2023-01-01'
end_date = '2023-01-02' # Sempre adicione +1 dia em relação ao start_date
url = 'https://api.weatherbit.io/v2.0/history/daily'

params = {
  'lat': latitude,
  'lon': longitude,
  'start_date': start_date,
  'end_date': end_date,
  'key': weatherbit_key,
}
headers = {
  'Accept': 'application/json',
}

response = requests.get(url, params=params, headers=headers)
data = response.json()

In [492]:
data

{'error': 'Your API key does not allow access to this endpoint. See https://www.weatherbit.io/pricing.'}